<!DOCTYPE html>
<html lang="tr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Giriş Yap</title>
<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/login-style.css') }}">
<script src="{{ url_for('static', filename='js/login-script.js') }}"></script>

</head>
<body>

<div class="container">
  <div class="content">
    <h1>Giriş Yap</h1>
    <form id="login-form" method="post" >
      <input type="text" id="username" placeholder="Kullanıcı Adı" required>
      <input type="password" id="password" placeholder="Şifre" required>
      <div class="video-container" id="faceData">
        <video id="video" width="320" height="240"></video>
      </div>
      <button type="button" id="start-camera-btn">Kamerayı Başlat</button><br>
      <button type="submit">Giriş Yap</button>
      <button id="register-btn">Kayıt Ol</button>
    </form>
    <p id="error-message" class="error-message"></p>
    <div id="success-message" class="success-message"></div>
  </div>
</div>
</body>
</html>